# Retrieving information from LiPD files

## Authors

[Deborah Khider](https://orcid.org/0000-0001-7501-8430)

## Preamble

`PyLiPD` is a Python package that allows you to read, manipulate, and write [LiPD](https://cp.copernicus.org/articles/12/1093/2016/cp-12-1093-2016-discussion.html#discussion) formatted datasets. In this tutorial, we will demonstrate how you can use pre-defined APIs that allows getting specific information from a LiPD file. 

### Goals

* Use existing APIs to get information about the datasets loaded in the workspace, their location, the variables available, the types of geologic archives.
* Obtain a BibTex file

Reading Time: 5 minutes

### Keywords

LiPD

### Pre-requisites

None. This tutorial assumes basic knowledge of Python and Pandas. If you are not familiar with this coding language and this particular library, check out this tutorial: http://linked.earth/ec_workshops_py/.

### Relevant Packages

pylipd

## Data Description

This notebook uses the following datasets, in LiPD format:

- McCabe-Glynn, S., Johnson, K., Strong, C. et al. Variable North Pacific influence on drought in southwestern North America since AD 854. Nature Geosci 6, 617–621 (2013). https://doi.org/10.1038/ngeo1862

- Lawrence, K. T., Liu, Z. H., & Herbert, T. D. (2006). Evolution of the eastern tropical Pacific through Plio-Pleistocne glaciation. Science, 312(5770), 79-83.

- Euro2k database: PAGES2k Consortium., Emile-Geay, J., McKay, N. et al. A global multiproxy database for temperature reconstructions of the Common Era. Sci Data 4, 170088 (2017). doi:10.1038/sdata.2017.88

## Demonstration

### Extracting infomation about the content of a LiPD object

Let's start by importing our favorite package and load our datasets.

In [1]:
from pylipd.lipd import LiPD

Let's load some diverse datasets to highlight to capabilities:

In [2]:
path = '../data/Euro2k/'

D = LiPD()
D.load_from_dir(path)

Loading 31 LiPD files

100%|█████████████████████████████████████████████████████████████| 31/31 [00:00<00:00, 44.56it/s]

Loaded..

In [3]:
data_path = ['../data/Crystal.McCabe-Glynn.2013.lpd', '../data/ODP846.Lawrence.2006.lpd', 'https://lipdverse.org/data/iso2k100_CO06MOPE/1_0_2//CO06MOPE.lpd']

D.load(data_path)

Loading 3 LiPD files

100%|███████████████████████████████████████████████████████████████| 3/3 [00:02<00:00,  1.34it/s]

Loaded..

### Getting information about Datasets

From the introductory notebooks on [loading LiPD datasets](L0_loading_lipd_datasets.ipynb) and [working with `LiPD` objects](L0_lipd_object.ipynd), you are already familiar with the functions to get all the names of the datasets.

In [4]:
D.get_all_dataset_names()

['Ocn-RedSea.Felis.2000',
 'Arc-Forfjorddalen.McCarroll.2013',
 'Eur-Tallinn.Tarand.2001',
 'Eur-CentralEurope.Dobrovoln_.2009',
 'Eur-EuropeanAlps.B_ntgen.2011',
 'Eur-CentralandEasternPyrenees.Pla.2004',
 'Arc-Tjeggelvas.Bjorklund.2012',
 'Arc-Indigirka.Hughes.1999',
 'Eur-SpannagelCave.Mangini.2005',
 'Ocn-AqabaJordanAQ19.Heiss.1999',
 'Arc-Jamtland.Wilson.2016',
 'Eur-RAPiD-17-5P.Moffa-Sanchez.2014',
 'Eur-LakeSilvaplana.Trachsel.2010',
 'Eur-NorthernSpain.Mart_n-Chivelet.2011',
 'Eur-MaritimeFrenchAlps.B_ntgen.2012',
 'Ocn-AqabaJordanAQ18.Heiss.1999',
 'Arc-Tornetrask.Melvin.2012',
 'Eur-EasternCarpathianMountains.Popa.2008',
 'Arc-PolarUrals.Wilson.2015',
 'Eur-LakeSilvaplana.Larocque-Tobler.2010',
 'Eur-CoastofPortugal.Abrantes.2011',
 'Eur-TatraMountains.B_ntgen.2013',
 'Eur-SpanishPyrenees.Dorado-Linan.2012',
 'Eur-FinnishLakelands.Helama.2014',
 'Eur-Seebergsee.Larocque-Tobler.2012',
 'Eur-NorthernScandinavia.Esper.2012',
 'Arc-GulfofAlaska.Wilson.2014',
 'Arc-Kittelfjall.Bjorklund.2012',
 'Eur-L_tschental.B_ntgen.2006',
 'Eur-Stockholm.Leijonhufvud.2009',
 'Arc-AkademiiNaukIceCap.Opel.2013',
 'Crystal.McCabe-Glynn.2013',
 'ODP846.Lawrence.2006',
 'CO06MOPE']

In fact, this function has been used throughout these notebooks to be able to extract other types of information. Another equivalent function returns all the dataset IDs.

In [5]:
D.get_all_dataset_ids()

['iso2k100_CO06MOPE']

Notice that the function returned only one item. The reason is that most of these files were created before datasetIDs were prevalent on the Lipdverse. Therefore, only the dataset loaded from this website contained an ID.

<div class="alert alert-success">
<b>Note:</b> `datasetIDs` will be used in future versions of `PyLiPD` to direclty query the LiPDverse, without the need to pass the direct URL.
</div>

Another function that allows to look up information stored at the dataset level is `get_all_archiveTypes`. This one functions a little bit differently than the previous functions in that it will only return the unique names present in these datasets:

In [6]:
D.get_all_archiveTypes()

['coral',
 'tree',
 'documents',
 'lake sediment',
 'speleothem',
 'marine sediment',
 'glacier ice',
 'Coral']

This function is particularly useful to know what terms can be used to [filter with specific queries](L1_filtering.ipynb).

You can get information about the location of each dataset as follows:

In [7]:
df_loc = D.get_all_locations()

df_loc

,dataSetName,geo_meanLat,geo_meanLon,geo_meanElev
0,Ocn-RedSea.Felis.2000,27.8500,34.3200,-6.0
1,Arc-Forfjorddalen.McCarroll.2013,68.7300,15.7300,200.0
2,Eur-Tallinn.Tarand.2001,59.4000,24.7500,10.0
3,Eur-CentralEurope.Dobrovolný.2009,49.0000,13.0000,NaN
4,Eur-EuropeanAlps.Büntgen.2011,47.0000,10.7000,2050.0
5,Eur-CentralandEasternPyrenees.Pla.2004,42.5000,0.7500,2280.0
6,Arc-Tjeggelvas.Bjorklund.2012,66.6000,17.6000,520.0
7,Arc-Indigirka.Hughes.1999,69.5000,147.0000,80.0
8,Eur-SpannagelCave.Mangini.2005,47.1000,11.6000,2347.0
9,Ocn-AqabaJordanAQ19.Heiss.1999,29.4200,34.9700,-1.0
10,Arc-Jamtland.Wilson.2016,63.2475,13.3375,650.0
11,Eur-RAPiD-17-5P.Moffa-Sanchez.2014,61.4800,-19.5300,-2303.0
12,Eur-LakeSilvaplana.Trachsel.2010,46.5000,9.8000,1791.0
13,Eur-NorthernSpain.Martín-Chivelet.2011,42.9000,-3.5000,1250.0
14,Eur-MaritimeFrenchAlps.Büntgen.2012,44.0000,7.5000,2100.0
15,Ocn-AqabaJordanAQ18.Heiss.1999,29.4200,34.9700,-1.0
16,Arc-Tornetrask.Melvin.2012,68.2600,19.6000,320.0
17,Eur-EasternCarpathianMountains.Popa.2008,47.0000,25.3000,1820.0
18,Arc-PolarUrals.Wilson.2015,66.9000,65.6000,250.0
19,Eur-LakeSilvaplana.Larocque-Tobler.2010,46.5000,9.8000,1791.0
20,Eur-CoastofPortugal.Abrantes.2011,41.1000,-8.9000,-80.0
21,Eur-TatraMountains.Büntgen.2013,49.0000,20.0000,1000.0
22,Eur-SpanishPyrenees.Dorado-Linan.2012,42.5000,1.0000,1200.0
23,Eur-FinnishLakelands.Helama.2014,62.0000,28.3250,130.0
24,Eur-Seebergsee.Larocque-Tobler.2012,46.1500,7.5000,1830.0
25,Eur-NorthernScandinavia.Esper.2012,68.0000,25.0000,300.0
26,Arc-GulfofAlaska.Wilson.2014,61.0300,-146.5900,230.0
27,Arc-Kittelfjall.Bjorklund.2012,65.2000,15.5000,550.0
28,Eur-Lötschental.Büntgen.2006,46.4000,7.8000,1700.0
29,Eur-Stockholm.Leijonhufvud.2009,59.3200,18.0600,10.0
30,Arc-AkademiiNaukIceCap.Opel.2013,80.5200,94.8200,750.0
31,Crystal.McCabe-Glynn.2013,36.5900,-118.8200,1386.0
32,ODP846.Lawrence.2006,-3.1000,-90.8000,-3296.0
33,CO06MOPE,16.7500,-22.8883,-5.0

### Getting information about variables

To get information about available variable names, you can do the following:

In [7]:
D.get_all_variable_names()

['year',
 'd18O',
 'MXD',
 'temperature',
 'JulianDay',
 'trsgi',
 'age',
 'sampleID',
 'uncertainty_temperature',
 'density',
 'd13C',
 'sampleDensity',
 'Na',
 'thickness',
 '230th/232th_uncertainty',
 '230th age',
 '238u_uncertainty',
 '232th',
 'sample',
 'depth',
 'd234u',
 'd234uinitial',
 '232th_uncertainty',
 'depth_dating',
 'Year',
 '230th/238u',
 'd18o',
 '238u',
 '230th age_uncertainty',
 'corr_age',
 '230th age_uncertaity',
 'd234uinitial_uncertainty',
 '230th/232th',
 'd234u_undertainty',
 'corr_age_uncert',
 '230th/238u_uncertainty',
 'ukprime37.Uk37Prime',
 'sst',
 'median',
 'upper95',
 'd180',
 'sample label',
 'c. wuellerstorfi d18o.d18O',
 'section',
 'c. wuellerstorfi d13c.d13C',
 'interval',
 'temp prahl',
 'depth comp',
 'event',
 'depth cr',
 'c37 total.Alkenone',
 'u. peregrina d18o.d18O',
 'site/hole',
 'temp muller',
 'u. peregrina d13c.d13C',
 'lower95']

Note that like the functions retrieving the various `archiveTypes`, this function also only returns the unique names. As we have explored [previously](L0_lipd_object.ipynb), the Euro2k database contains more than one record correspoonding to `temperature`. Again, this function can be used to figure out what to filter by.

If you want to have more granularity about which variable is available in which datasets and their associated unique IDs, you can use the following function:

In [8]:
D.get_all_variables()

,uri,TSID,variableName
0,http://linked.earth/lipd/Ocn-RedSea.Felis.2000...,PYTXPC7HUA2,year
1,http://linked.earth/lipd/Ocn-RedSea.Felis.2000...,Ocean2kHR_019,d18O
2,http://linked.earth/lipd/Arc-Forfjorddalen.McC...,Arc_150,MXD
3,http://linked.earth/lipd/Arc-Forfjorddalen.McC...,PYTRQDXUHJN,year
4,http://linked.earth/lipd/Eur-Tallinn.Tarand.20...,Eur_026,temperature
...,...,...,...
125,http://linked.earth/lipd/paleo0measurement0.PY...,PYTGO6NV72Y,temp muller
126,http://linked.earth/lipd/paleo0measurement1.PY...,PYTTUPVG4K3,u. peregrina d13c.d13C
127,http://linked.earth/lipd/chron0model0summary0....,PYTI487BQDZ,lower95
128,http://linked.earth/lipd/CO06MOPE.paleo1measur...,LPDca7af9c3,year
129,http://linked.earth/lipd/CO06MOPE.paleo1measur...,Ocean2kHR_107,d18O

### Get a bibliography

You can also retrieve the publication information and save as Bib file:

In [11]:
bibs, df = D.get_bibtex(remote = True, save = True, path = '../data/mybiblio.bib', verbose = False)

Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually
Cannot find a matching record for the provided DOI, creating the entry manually

Let's decompose the parameters for this [function](https://pylipd.readthedocs.io/en/latest/source/pylipd.html#pylipd.lipd.LiPD.get_bibtex):

* `remote`: If set to True, `PyLipd` will use the `crossref` function in the [`doi2bib`](https://pypi.org/project/doi2bib/) package to retrieve the bilbiography. You can only use this option online. If the retrieval fails, the entry will be created from the information in the LiPD file. If set to False, only the information in the file will be used.
* `save`, `path`: If `save` is set to True, `PyliPD` will save the entries in a `.bib` file. In this example, we saved the file to the data folder contained in this repository.
* `verbose` if set to True, the bibliography will print on the screen.

In addition to saving the file, the function returns `bibs`, a list of text bliography and `df`, which presents the information in a `Pandas DataFrame`.

In [13]:
df.head()

,dsname,title,authors,doi,pubyear,year,journal,volume,issue,pages,type,publisher,report,citeKey,edition,institution,url,url2
0,Ocn-RedSea.Felis.2000,World Data Center for Paleoclimatology,T. Felis,None,None,NaN,None,NaN,None,None,dataCitation,None,None,felis2000httpswwwncdcnoaagovpaleostudy1861Data...,None,World Data Center for Paleoclimatology,None,https://www.ncdc.noaa.gov/paleo/study/1861
1,Ocn-RedSea.Felis.2000,Tropical sea surface temperatures for the past...,Cyril Giry and Jens Zinke and Casey P. Saenger...,10.1002/2014PA002717,None,2015.0,Paleoceanography,30.0,3.0,226-252,journal-article,Wiley-Blackwell,None,tierney2015tropicalseasurfacetempera,None,None,http://dx.doi.org/10.1002/2014PA002717,None
2,Ocn-RedSea.Felis.2000,A coral oxygen isotope record from the norther...,Thomas Felis and Gerold Wefer and Maoz Fine an...,10.1029/1999PA000477,None,2000.0,Paleoceanography,15.0,6.0,679-694,article,Wiley-Blackwell,None,felis2000acoraloxygenisotoperecord,None,None,http://dx.doi.org/10.1029/1999PA000477,None
3,Arc-Forfjorddalen.McCarroll.2013,A 1200-year multiproxy record of tree growth a...,M. Lindholm and H. Grudd and D. McCarroll and ...,10.1177/0959683612467483,None,2013.0,The Holocene,23.0,None,471-484,article,SAGE Publications,None,mccarroll2013a1200yearmultiproxyrecord,None,None,http://dx.doi.org/10.1177/0959683612467483,None
4,Arc-Forfjorddalen.McCarroll.2013,This study,D. McCarroll,None,None,NaN,None,NaN,None,None,dataCitation,None,None,mccarroll0thisstudyDataCitation,None,None,None,this study